@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff") format("woff"), url("../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff") format("woff"), url("../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.page {
  height: 100%;
}
.footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.footer__logo-link {
  display: flex;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer__logo-link {
    border-bottom: transparent;
  }
}
.html-academy {
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .html-academy {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.html-academy__text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.html-academy__logo-text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
.html-academy__link {
  margin-left: 22px;
}
.invite__text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.invite__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .invite__wrapper {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.invite__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .invite__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }
}
.invite__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}
@media (min-width: 768px) {
  .invite__address {
    text-align: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
.invite__address--tablet-br {
  display: none;
}
@media (min-width: 768px) {
  .invite__address--tablet-br {
    display: inline-block;
  }
}
.map {
  background-image: url("../../../../img/map.jpg");
  background-size: 320px auto;
  background-repeat: no-repeat;
  height: 362px;
}
@media (min-width: 768px) {
  .map {
    background-image: url("../../../../img/medium-map.jpg");
    background-size: 768px auto;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .map {
    background-image: url("../../../../img/large-map.jpg");
    background-size: 1440px auto;
  }
}
.social-item__text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.social-list {
  list-style-type: none;
}
.socials {
  padding-top: 23px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .socials {
    border-bottom: transparent;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 24px;
}
.socials__text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .header {
    grid-template-columns: 20% 80%;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .header {
    grid-template-columns: 50% 50%;
    padding-left: 110px;
    padding-right: 110px;
    border-bottom: none;
  }
}
.header--main {
  border-bottom: none;
}
.header--main:after {
  content: '';
  display: block;
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: #68B738;
  background-image: url("../../../../img/mobile-background-cat.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  min-height: 302px;
  z-index: -1;
}
@media (min-width: 768px) {
  .header--main:after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header--main:after {
    display: block;
    background-image: url("../../../../img/desktop-background-cat.jpg");
    top: 0;
    right: 0;
    width: 50%;
    min-height: 694px;
  }
}
.header__burger {
  margin: 0;
  padding: 7px 12px 9px 12px;
  border: none;
  background-color: transparent;
  position: relative;
}
@media (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__burger-icon {
  width: 24px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  left: 0;
}
.header__burger-icon::before {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.header__burger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.header__burger-icon--opened {
  background-color: transparent;
}
.header__burger-icon--opened::before {
  transform: rotate(45deg);
  top: 0;
}
.header__burger-icon--opened::after {
  transform: rotate(-45deg);
  top: 0;
}
.header__wrapper {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .header__wrapper {
    grid-column: 1/2;
  }
}
@media (min-width: 768px) {
  .logo-link--small {
    display: none;
  }
}
.logo-link--medium {
  display: none;
}
@media (min-width: 768px) {
  .logo-link--medium {
    display: block;
  }
}
@media (min-width: 1440px) {
  .logo-link--medium {
    display: none;
  }
}
.logo-link--large {
  display: none;
}
@media (min-width: 1440px) {
  .logo-link--large {
    display: block;
  }
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-column: 1 / -1;
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  width: 100%;
}
@media (min-width: 768px) {
  .menu {
    position: relative;
    top: 0;
    background-color: transparent;
    grid-column: 2 / -1;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
}
.menu__link {
  font-family: "Oswald", sans-serif;
  padding: 22px 16px 24px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
@media (min-width: 768px) {
  .menu__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: inherit;
  }
}
@media (min-width: 1440px) {
  .menu__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: inherit;
  }
}
@media (min-width: 1440px) {
  .menu--main {
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .menu__link--active::before {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 3px;
    left: 16px;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 768px) {
  .menu__link-main--active::before {
    content: "";
    position: absolute;
    right: 16px;
    bottom: 3px;
    left: 16px;
    height: 2px;
    background-color: #68B738;
  }
}
@media (min-width: 1440px) {
  .menu__link-main--active::before {
    background-color: #ffffff;
  }
}
.menu__item {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .menu__item {
    border-top: none;
  }
}
.menu--closed {
  display: none;
}
@media (min-width: 768px) {
  .menu--closed {
    display: flex;
  }
}
.button {
  background-color: #68B738;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.example {
  background-color: #F2F2F2;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .example {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .example__wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    background-color: #F2F2F2;
  }
}
.example__title {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__title {
    grid-column: 1 / -1;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-left: 110px;
    grid-column: 1 / 2;
  }
}
.example__description {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  grid-column: 1 / -1;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__description {
    grid-column: 1 / 2;
  }
}
.example__container {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .example__container {
    display: grid;
    grid-template-columns: 162px 162px;
    grid-gap: 42px;
    justify-content: start;
  }
}
@media (min-width: 1440px) {
  .example__container {
    grid-column: 1 / 2;
  }
}
.example__total-cash {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__total-cash {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: end;
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .example__total-cash {
    grid-column: 1 / 2;
    text-align: start;
  }
}
.example__total-cash--br {
  display: none;
}
@media (min-width: 768px) {
  .example__total-cash--br {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .example__total-cash--br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .example__slider {
    grid-column: 2 / -1;
  }
}
.feature__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  padding-left: 81px;
}
@media (min-width: 768px) {
  .feature__text {
    padding-left: 0;
    padding-top: 120px;
    padding-bottom: 57px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
.features {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .features {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .features {
    padding-left: 110px;
    padding-right: 110px;
  }
}
.features__title {
  margin: 0 0 40px 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .features__title {
    margin-bottom: 63px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}
.features__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .features__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .features__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 94px;
  }
}
.options {
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-gap: 20px;
}
@media (min-width: 768px) {
  .options {
    grid-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .options {
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.options__text-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.options__card {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  padding: 21px 33px 0 20px;
}
@media (min-width: 768px) {
  .options__card {
    padding: 77px 316px 35px 53px;
  }
}
@media (min-width: 1440px) {
  .options__card {
    padding-right: 51px;
  }
}
.options__title {
  margin: 0 0 29px 71px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .options__title {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }
}
@media (min-width: 768px) {
  .options__title {
    margin-left: 214px;
    margin-bottom: 73px;
  }
}
.options__description {
  margin: 0;
  padding-bottom: 23px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .options__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    border-bottom: transparent;
    margin-bottom: 33px;
  }
}
.options__link {
  display: block;
  margin: auto 0 0 0;
  padding: 19px 0 22px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .options__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}
.promotion {
  background-color: transparent;
  padding-top: 27px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .promotion {
    background-image: none;
    padding-top: 78px;
    padding-bottom: 526px;
    padding-left: 117px;
    padding-right: 30px;
  }
}
@media (min-width: 1440px) {
  .promotion {
    padding-top: 110px;
    padding-bottom: 304px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
.promotion__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .promotion__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    color: #000000;
    text-align: left;
    margin-bottom: 41px;
  }
}
.promotion__text {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 302px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promotion__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
    text-align: left;
    margin-bottom: 49px;
  }
}
.promotion__program-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  padding: 10px 44px;
}
@media (min-width: 768px) {
  .promotion__program-link {
    width: 244px;
    padding: 14px 26px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}
.result {
  display: flex;
  flex-direction: column;
}
.result__text {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .result__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
  }
}
.result__prompt {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .result__prompt {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}
.slider__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
.main {
  flex-grow: 1;
}
@media (min-width: 1440px) {
  .addition {
    grid-column: 1 / -1;
  }
}
.addition__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
.addition-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .addition-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .addition-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.addition-item__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.base-params {
  display: flex;
  flex-direction: column;
}
.base-params__title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.base-params__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .comment {
    grid-column: 1 / -1;
  }
}
.comment__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
.contacts {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .contacts {
    flex-direction: row;
    grid-column: 1 / -1;
  }
}
.contacts__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}
.contacts-email__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.contacts-phone__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.form {
  flex-grow: 1;
}
.form__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.form__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}
.form__text {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.options-item__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.options-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.program-form {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1440px) {
  .program-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.program-form__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.program-form__required-text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
}
.result-options__title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.additional-product__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.additional-product__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.additional-product__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #000000;
}
.additional-products {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1440px) {
  .additional-products {
    grid-column: 1 / 2;
  }
}
.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.base-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-top: 1px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 19px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .base-product {
    background-color: #F2F2F2;
    grid-template-columns: 1fr;
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 39px;
    border-top: none;
  }
}
.base-product__link {
  margin: 0;
  padding: 0;
  grid-column: 1 / 2;
}
@media (min-width: 768px) {
  .base-product__link {
    grid-column: 1 / -1;
  }
}
.base-product__wrapper {
  grid-column: 2 / -1;
}
@media (min-width: 768px) {
  .base-product__wrapper {
    grid-column: 1 / -1;
  }
}
.base-product__title {
  margin: 0 0 14px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .base-product__title {
    text-align: center;
  }
}
.base-product__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  grid-column: 1/ -1;
}
.base-products {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .base-products {
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 141px;
    grid-column-gap: 60px;
  }
}
@media (min-width: 1440px) {
  .base-products {
    padding-left: 110px;
    padding-right: 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px;
    grid-column: 1 / -1;
  }
}
.base-products__title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .base-product__title--small-br {
    display: none;
  }
}
.base-product__title--medium-br {
  display: none;
}
@media (min-width: 768px) {
  .base-product__title--medium-br {
    display: block;
  }
}
.catalog {
  flex-grow: 1;
}
@media (min-width: 1440px) {
  .catalog {
    display: grid;
    grid-template-columns: 78% 22%;
  }
}
.catalog__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 768px) {
  .catalog__title {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 163px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    padding-left: 110px;
    padding-right: 110px;
    grid-column: 1 / -1;
    padding-bottom: 165px;
  }
}
.characteristics-item {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .characteristics-item {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}
.characteristics-item__key {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .characteristics-item__key {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
.characteristics-item__value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #444444;
}
@media (min-width: 768px) {
  .characteristics-item__value {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
.characteristics-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.promo {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 1440px) {
  .promo {
    grid-column: 2 / -1;
  }
}
.promo__wrapper {
  background-color: #68B738;
  background-image: url("../../../img/catalog-promo.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  min-height: 600px;
}
.promo__title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.promo__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
}
.show-more {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ebebeb;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 768px) {
  .show-more {
    padding-left: 39px;
    padding-right: 37px;
    padding-top: 38px;
    padding-bottom: 38px;
    border: 2px solid #F2F2F2;
    box-sizing: border-box;
  }
}
.show-more__title {
  margin: 0 0 8px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more__title {
    margin-bottom: 23px;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
  }
}
.show-more__text {
  margin: 0 0 21px 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}
.show-more__button {
  margin-top: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  background-color: #F2F2F2;
}
/*# sourceMappingURL=style.css.map */