@base-font-color: #000;
@alternate-font-color: #fff;
@base-color: #68B738;
@base-font: "Oswald", sans-serif;
@alternate-font: "Arial", sans-serif;

.add-font (@size, @weight, @height) {
  line-height: @height;
  font-size: @size;
  font-weight: @weight;
}

.add-visually-hidden () {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
