@import "../../variables";

.example {
  background-color: @secondary-color;
  .add-base-padding;
  @media (min-width: @medium-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__title {
  font-family: @base-font;
  .add-font-size(36px, 400, 40px);
  grid-column: ~"1 / -1";
  @media (min-width: @large-width) {
    grid-column: ~"1 / 2";
  }
}

.example__description {
  font-family: @alternate-font;
  .add-font-size-small;
  grid-column: ~"1 / -1";
  @media (min-width: @large-width) {
    grid-column: ~"1 / 2";
  }
}

.example__container {
  display: flex;
  @media (min-width: @large-width) {
    grid-column: ~"1 / 2";
  }
}

.example__total-cash {
  font-family: @base-font;
  .add-font-size(14px, 400, 20px);
  color: @base-font-color;
  text-transform: uppercase;
  @media (min-width: @large-width) {
    grid-column: ~"1 / 2";
  }
}

.example__slider {
  @media (min-width: @large-width) {
    grid-column: ~"2 / -1";
  }
}
