@import "../../variables";

.base-product {
  .add-base-left-right-padding;

  @media (min-width: @medium-width) {
    background-color: @secondary-color;
  }
}

.base-product__title {
  font-family: @base-font;
  .add-font-size-height-weight(16px, 400, 20px);
  color: @base-font-color;
  text-transform: uppercase;
}

.base-product__button {
  .add-font-size-height-weight(16px, 400, 20px);
}
