@import "../../variables";

.catalog {
  flex-grow: 1;
  @media (min-width: @large-width) {
    display: grid;
    grid-template-columns: 78% 22%;
  }
}

.catalog__title {
  .add-base-left-right-padding;
  font-family: @base-font;
  .add-font-size-height-weight(36px, 400, 36px);
  color: @base-font-color;

  @media (min-width: @large-width) {
    grid-column: ~"1 / -1";
  }
}
