@import "../../../variables";

.header {
  .add-base-padding;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (min-width: @medium-width) {
    grid-template-columns: 10% 20% 70%;
  }
  @media (min-width: @large-width) {
    grid-template-columns: 10% 40% 50%;
  }
}

.header__burger {
  @media (min-width: @medium-width) {
    display: none;
  }
}
