@import "../../../variables";

.menu {
  list-style-type: none;
}

.menu__link {
  font-family: @base-font;
  .add-font-size(20px, 500, 20px);
  color: @base-font-color;
  text-transform: uppercase;
  text-decoration: none;
}
